@import "../../../../public/styles/variable";
@import "../../../../public/styles/base";
@import "../../../../public/styles/mixins/mixins";


.contents_set{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    @include max(992) {
        padding-bottom: 25px;
        padding-top: 0px;
    }
    @include max(767) {
        padding-bottom:0;
        padding-top: 25px;
    }
    .left_content{
        width: 51%;
        padding-right: 40px;
        @include max(1600) {
            width:49%;
        }
        @include max(992) {
            width:100%;
            padding-bottom: 50px;
            padding-right: 0;
        }
        @include max(767) {
            padding-top:0;
            padding-bottom: 30px;
        }
    }
    .right_content{
        width: 49%;
        overflow: hidden;
        @include max(992) {
            width:100%;
        }
    }
    .right_img{
        opacity: 0;
        // transform: scale(1.2);
        transition: opacity 1s ease, transform 1s ease;
        border-radius: 6px;
        overflow: hidden;
        figure{
            @include aspectRatio(650, 728);
        }
        img{
            border-radius: 6px;
            // transform: scale(1);
            // height: 785px !important;
            // @include max(1600) {
            //     height: 730px !important;
            // }
            // @include max(1060) {
            //     height:570px !important;
            // }
        }
    }
    // .reveals{
    //     aspect-ratio: 650 / 728;
    // }
    p{
        font-size: 1.25rem;
        line-height: 1.875rem;
        padding-right: 15px;
        @include max(1600) {
            font-size: 1.1rem;
            line-height: 1.75rem;
        }
        @include max(992) {
            padding-right: 0;
            font-size: .95rem;
            line-height: 1.4rem;
        }
    }
    
  }
  .reveal {
    visibility: hidden;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .inview{
    .right_img{
        opacity: 1;
        transform: scale(1);
        transition: opacity 1s ease, transform 1s ease;
    }
  }
  